@import "drun.rasi"
@import "entry.rasi"
@import "keyboard.rasi"
@import "mouse.rasi"
@import "timeout.rasi"

configuration {
    auto-select: false;
    case-sensitive: false;
    case-smart: true;
    click-to-exit: true;
    combi-display-format: "{text}";
    cycle: true;
    disable-history: false;
    dpi: 0;
    drun-display-format: "{name}\n[<small>{exec}</small>]";
    drun-match-fields: "name#exec";
    drun-show-actions: false;
    eh: 1;
    fixed-num-lines: true;
    font: "JetBrains Mono NL 12";
    hover-select: false;
    icon-theme: "Papirus-Dark";
    m: -5;
    matching: "normal";
    max-history-size: 5;
    normalize-match: false;
    run-command: "{cmd}";
    scroll-method: 0;
    sidebar-mode: false;
    sort: false;
    threads: 0;
    tokenize: true;
}
