# Set the Hardware Clock from the System Clock
hwclock -w

# Generate localization files from templates
locale-gen

# Create an initial ramdisk environment
mkinitcpio -P

# Install GRUB to a device
grub-install --target=x86_64-efi --efi-directory=/efi

# Generate the main configuration file for GRUB
grub-mkconfig -o /boot/grub/grub.cfg

# ufw
ufw default deny incoming
ufw default allow outgoing
ufw enable

for f in /tmp/src/*
do
    gcc "$(head -n 1 $f | cut -c 4-)" $f
done
