@import "bindings.rasi"
@theme "theme.rasi"

configuration {
    disable-history: false;
    dpi: 0;
    drun-display-format: "{name}";
    font: "Noto Sans Mono 14";
    icon-theme: "Papirus";
    max-history-size: 5;
    modi: "drun,power-menu:~/bin/power_menu.sh";
    monitor: -5;

    entry {
        max-history: 0;
    }
}
