@import "bindings.rasi"

configuration {
    disable-history: false;
    font: "Noto Sans Mono 12";
    fullscreen: false;
    icon-theme: "Papirus";
    max-history-size: 5;
    modi: "drun,power-menu:~/bin/power_menu.sh";
    show-icons: true;

    entry {
        max-history: 0;
    }
}
