@theme "drun.rasi"

element {
    children: [ element-icon ];
    orientation: vertical;
}

element selected {
    background-color: transparent;
}

element-icon {
    horizontal-align: 0.5;
    size: 96px;
}

element-text {
    highlight: none;
}

listview {
    lines: 1;
}

mainbox {
    background-color: transparent;
}

window {
    border-color: transparent;
    location: south;
}
