@theme "drun.rasi"

element {
    children: [ element-icon ];
    orientation: vertical;
}

element selected {
    background-color: transparent;
}

element-icon {
    size: 96px;
}

listview {
    lines: 1;
}

window {
    background-color: transparent;
    border-color: transparent;
    location: south;
}
