@theme "drun.rasi"

window {
    background-color: transparent;
    border: 0px;
    location: south;
}

listview {
    lines: 1;
}

element {
    children: [ element-icon ];
    orientation: vertical;
}

element selected {
    background-color: inherit;
}

element-icon {
    size: 96px;
}
