[Desktop Entry]
Name=picom
Exec=sh -c 'systemd-detect-virt && exec picom --backend=xrender || exec picom --backend=glx'
Type=Application
Terminal=false
