[Desktop Entry]
Name=picom
Exec=/usr/bin/sh -c 'if systemd-detect-virt; then picom --backend=xrender; else picom --backend=glx; fi'
Type=Application
Terminal=false
