[Desktop Entry]
Name=picom
Exec=sh -c 'if systemd-detect-virt; then exec picom --backend=xrender; else exec picom --backend=glx; fi'
Type=Application
Terminal=false
